<script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="../scripts/script.js"></script>

{{#if errorMessage}}
<p class="error-message">
    {{ errorMessage }}
</p>
{{/if}}

<div id="formWrapper">

<div id="form">
<div class="logo">
<g>
<h1 class="hellou">Hellou!</h1>	
</g>
</div>
<form action="/auth/signup" method="post">
    <div class="form-item">
        <p class="formLabel">Usuario</p>
        <input type="text" name="username" id="username-input" class="form-style">
    </div>

    <div class="form-item">
        <p class="formLabel">Correo Electrónico</p>
        <input type="email" name="email" id="email-input" class="form-style">
    </div>

    <div class="form-item">
        <p class="formLabel">Contraseña</p>
        <input type="password" name="password" id="password-input" class="form-style" >
    </div>

     <div class="form-item">
        <p class="formLabel">Teléfono</p>
        <input type="tel" name="phoneNumber" id="telefono-input" class="form-style">
    </div>

    <div class="form-item">
        <p class="pull-left"><a href="/auth/login"><small>Log in</small></a></p>
        <input type="submit" class="login pull-right" value="Registrate">
		<div class="clear-fix"></div>
	</div>
</form>

