<div class="d-flex justify-content-center w-100 mx-auto">
<div class="card" style="width: 18rem;">

<div class="card-body">
<form action="/profile/edit?user_id={{user._id}}" method="post" enctype="multipart/form-data">
    <label class="card-text mt-1" for="">Nombre de usuario</label>
    <input class="w-100 p-1 profile-text" type="text" name="username" value="{{user.username}}">

    <label class="card-text mt-1" for="">Email:</label>
    <input class="w-100 p-1 profile-text" type="text" name="email" value="{{user.email}}">

    <label class="card-text mt-1" for="">Phone Number:</label>
    <input  class="w-100 p-1 profile-text" type="text" name="phoneNumber" value="{{user.phoneNumber}}">

    <label class="card-text mt-1" for="photoUser">Foto: <br><span class="d-block btn-photo mt-1 w-100">Selecciona tu foto de perfil</span> </label>
    <input  id="photoUser" style="visibility:hidden;" class="w-100 p-1" type="file" name="photoUser">

   <input type="submit" class="login pull-right boton-edit" value="EDIT">
</form>
</div>
</div>
</div>