<form action="/publis" method="post">
    <div>
        <label for="peticion-input"> Usuario </label>
        <input type="text" name="peticion" id="peticion-input">
    </div>

    <div>
        <label for="localizacion-input"> Localizacion </label>
        <input type="localizacion" name="localizacion" id="localizacion-input">
    </div>

    <div>
        <label for="address-input">Calle</label>
        <input type="address" name="address" id="address-input" placeholder="Carrer....">
    </div>
    <input type="file" name="file"> <button> Añadir fotos </button>

    <div>
        <label for="servicios">Servicios Ofrecidos</label>
        <input type="radio" name="radiox" value="radio1">
        <input type="radio" name="radiox" value="radio2">
        <input type="radio" name="radiox" value="radio3">
        <input type="radio" name="radiox" value="radio4">
        <input type="radio" name="radiox" value="radio5">
        <input type="radio" name="radiox" value="radio6">
        <input type="radio" name="radiox" value="radio7">
        <input type="radio" name="radiox" value="radio8">
        <input type="radio" name="radiox" value="radio9">
    </div>
</form>