<form action="/publish/publish" method="post" enctype="multipart/form-data">
    <div>
        <label for="peticion-input"> Peticion usuario </label>
        <input type="text" name="hostRequest" id="peticion-input">
    </div>

    <div>
        <label for="localizacion-input"> Localizacion </label>
        <input type="localizacion" name="location" id="localizacion-input">
    </div>

    <div>
        <label for="address-input">Calle</label>
        <input type="address" name="address" id="address-input" placeholder="Carrer....">
    </div>
    <input type="file" name="photos">
    <div>
        <label for="servicios">Servicios Ofrecidos</label>
        <ul>
        <li>Aire Acondicionado <input type="checkbox" name="services[]" value="Aire Acondicionado"></li>
        <li>Wifi <input type="checkbox" name="services[]" value="Wifi"></li>
        <li>Toallas <input type="checkbox" name="services[]" value="Toallas"></li>
        <li>Secador <input type="checkbox" name="services[]" value="Secador"></li>
        <li>Lavadora <input type="checkbox" name="services[]" value="Lavadora"></li>
        <li>Secadora <input type="checkbox" name="services[]" value="Secadora"></li>
        <li>Plancha <input type="checkbox" name="services[]" value="Plancha"></li>
        <li>TV <input type="checkbox" name="services[]" value="TV"></li>
        </ul>
    </div>
    <button type="submit">Añadir</button>
</form>