@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

/*search box css start here*/

.container {
    height: 5em;
}


.search-sec{
    padding: 2rem;
	transform: translateY(-250px);
	border-radius: 20px;

}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:50px;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
@media (min-width: 992px){
    .search-sec{
        position: relative;
        top: -114px;
        background: rgba(37, 87, 126, 0.246);
    }
}

@media (max-width: 992px){
    .search-sec{
        background: #1A4668;
    }
}

body{
	font-family: 'Open Sans', sans-serif;
	color: rgb(80, 85, 90);	
}

.bg-color{
	background-color: #46a1de;
	transition-duration: .5s;
}

.text-color{
	color: #46a1de;
	transition-duration: .5s;
}


.wrapper{
	min-width: 600px;
	max-width: 900px;
	margin: 0 auto;
	padding-bottom: 50px;
}

.row {
    text-align: center;
    color: rgb(80, 85, 90);
}

.tabs{
	display: table-row-group;
	table-layout: fixed;
	width: 100%;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
	
  
}
.tabs	> li {
		transition-duration: .25s;
		display: table-cell;
		list-style: none;
		text-align: center;
		padding: 20px 20px 25px 20px;
		position: relative;
		overflow: hidden;
		cursor: pointer;
		color: #46a1de;;
}
.tabs	> li:before{
			z-index: -1;
			position: absolute;
			content: "";
			width: 100%;
			height: 120%;
			top: 0;
			left: 0;
			background-color: rgba(255, 255, 255, .3);
			-webkit-transform: translateY(100%);
			transform: translateY(100%);
			transition-duration: .25s;
			border-radius: 5px 5px 0 0;
}
		
.tabs	> li:hover:before{
				-webkit-transform: translateY(70%);
				transform: translateY(70%);
}

		
.tabs	> li.active{
			color: rgb(80, 85, 90);
}			
.tabs	> li.active:before{
				transition-duration: .5s;
				background-color: #aaddff;
				-webkit-transform: translateY(0);
				transform: translateY(0);
				
}

.content__wrapper {
         padding-top: 25px;
            padding-bottom: 25px;
            padding-left: 10px;
            padding-right: 10px
}

.tab__content{
	background-color: #aaddff;
	position: relative;
	width: 100%;
	border-radius: 5px;
	-webkit-box-shadow: 31px 121px 84px -9px rgba(0,0,0,0.67);
	-moz-box-shadow: 31px 121px 84px -9px rgba(0,0,0,0.67);
	box-shadow: 31px 121px 84px -9px rgba(0,0,0,0.67);
}	
.tab__content>li{
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		display: none;
    list-style: none;
}
.tab__content>li.content__wrapper{
			text-align: center;
			border-radius: 5px;
			width: 100%;
			padding: 45px 40px 40px 40px;
			background-color: white;
			
}

.content__wrapper>h1{
		width: 100%;
		text-align: center;
		padding-bottom: 20px;
        font-weight: 300;
        color: rgb(80, 85, 90)
}

.colors{
	text-align: center;
	padding-top: 20px;
}
.colors>li{
		list-style: none;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		border-bottom: 5px solid rgba(0, 0, 0, .1);
		display: inline-block;
		margin: 0 10px;
		cursor: pointer;
		transition-duration: .2s;
		box-shadow: 0 2px 1px rgba(0, 0, 0, .2);
}		
.colors:hover{
			-webkit-transform: scale(1.2);
			transform: scale(1.2);
			border-bottom: 10px solid rgba(0, 0, 0, .15);
			box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
		}
		
.colors.active-color{
			-webkit-transform: scale(1.2) translateY(-10px);
			transform: scale(1.2) translateY(-10px);
			box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
			border-bottom: 20px solid rgba(0, 0, 0, .15);
}


/* Redes Sociales */
#social {
	margin: 20px 10px;
	text-align: center;
  }
  
  .smGlobalBtn { /* global button class */
	  display: inline-block;
	  position: relative;
	  cursor: pointer;
	  width: 50px;
	  height: 50px;
	  border:2px solid #ddd; /* add border to the buttons */
	  box-shadow: 0 3px 3px #999;
	  padding: 0px;
	  text-decoration: none;
	  text-align: center;
	  color: #fff;
	  font-size: 25px;
	  font-weight: normal;
	  line-height: 2em;
	  border-radius: 27px;
	  -moz-border-radius:27px;
	  -webkit-border-radius:27px;
  }
  
  /* facebook button class*/
  .facebookBtn{
	  background: #4060A5;
  }
  
  .facebookBtn:before{ /* use :before to add the relevant icons */
	  font-family: "FontAwesome";
	  content: "\f09a"; /* add facebook icon */
  }
  
  .facebookBtn:hover{
	  color: #4060A5;
	  background: #fff;
	  border-color: #4060A5; /* change the border color on mouse hover */
  }
  
  /* twitter button class*/
  .twitterBtn{
	  background: #00ABE3;
  }
  
  .twitterBtn:before{
		font-family: "FontAwesome";
		content: "\f099"; /* add twitter icon */
		
  }
  
  .twitterBtn:hover{
		color: #00ABE3;
		background: #fff;
		border-color: #00ABE3;
  }
  
  
  /* linkedin button class*/
  .linkedinBtn{
	  background: #0094BC;
  }
  
  .linkedinBtn:before{
		font-family: "FontAwesome";
		content: "\f0e1"; /* add linkedin icon */
  }
  
  .linkedinBtn:hover{
		color: #0094BC;
		background: #fff;
		border-color: #0094BC;
  }
  
  
  
  