
{{#each homesLocation}}

<h1></h1>

{{#each homeImages}}
<img src="{{this}}">
{{/each}}
<p>{{hostRequest}}</p>
<p>{{address}}</p>
<a href="/housing/view?home_id={{_id}}">Ver mas detalles</a>

{{/each}} 
